<h1> <%= @project.name %></h1>
<ul>
<% @time_entries.each do |time_entry| %>
  <li>
    <p> total time: <%= time_entry.hours %> :<%= time_entry.minutes %> </p>
    <p><%= time_entry.comments %> </p>
    <p><%= time_entry.created_at %> </p>
  </li>
  <%#= link_to 'edit', "/projects/#{@project.id}/time_entries/#{time_entry.id}/edit" %>
  <%= link_to 'edit', project_time_entry_edit_path(@project, time_entry) %> -
  <%= link_to 'delete', project_time_entry_path(@project, time_entry), method: :delete, data: {confirm: 'are you sure?'} %>


  <% end %>
</ul>
